.card_presentation,
.card_formulaire,
.card_before_start {
    width: 700px;
    border-radius: 15px;
    margin: auto;
}

a {
    display: block;
    padding: 0 10px;
    color: #000;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    background-color: #f8f9fa;
    width: 150px;
}

a:hover {
    background-color: darkgray;
}


/******************** style dropdown ******************/

.nav-dropdown {
    color: #000000;
}

.nav-dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.nav-dropdown ul li {
    display: inline-block;
}


/* Hide Dropdowns by Default */

.nav-dropdown ul ul {
    display: none;
    position: absolute;
    top: 60px;
    /* the height of the main .nav-dropdown */
}


/* Display Dropdowns on Hover */

.nav-dropdown ul li:hover>ul {
    display: inherit;
}


/* Fisrt Tier Dropdown */

.nav-dropdown ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}


/* Second, Third and more Tiers	*/

.nav-dropdown ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}


/************* style sidebar ************/

.sidebar {
    position: fixed;
    z-index: 9999;
}

.sidebar li {
    display: flex;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}


/* Hide Dropdowns by Default */

.sidebar ul ul {
    display: none;
    /* the height of the main .nav-dropdown */
}


/* Display Dropdowns on Hover */

.sidebar ul li:hover>ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 150px;
}

.sidebar ul li:hover>ul ul {
    left: 0;
}


/* Fisrt Tier Dropdown */

.sidebar ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}


/* Second, Third and more Tiers	*/

.sidebar ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}