html {
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card_presentation,
.card_formulaire,
.card_before_start,
.card_end {
    width: 700px;
    border-radius: 15px;
    margin: auto;
    padding: 1em 0;
}

.justify{
    text-align: justify;
}

.form-check {
    margin-right: 10px;
}

h5.card_title {
    margin-bottom: 10px;
}

h3.objectToFind {
    margin-bottom: 30px;
}

.card .card-body {
    text-align: center;
}

section[class^='etape'] a {
    display: block;
    padding: 20px 10px;
    color: #000;
    font-size: 16px;
    /*line-height: 50px;*/
    line-height: 1;
    text-decoration: none;
    background-color: #f8f9fa;
    width: 250px;
    height: 45px;
    display: flex;
    align-items: center;
}

section[class^='etape'] .nav-dropdown a {
    justify-content: space-around;
    border-right: 1px black solid;
}

section[class^='etape'] .sidebar a,
section.etape5 .sidebar a {
    justify-content: space-between;
    border-bottom: 1px black solid;
}

section[class^='etape'] ul ul a {
    justify-content: space-between !important;
    border-right: 0 !important;
    border-bottom: 1px solid black !important;
}

section[class^='etape'] a:hover {
    background-color: darkgray;
}

section[class^='etape'] img {
    height: 30px;
    width: 30px;
}

.ul_score {
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
    background: #f8f9fa;
}

form .error {
    font-size: .9em;
    color: #db3939;
}

.timer {
    text-align: center;
    color: black;
    background: #fff;
    font-weight: bold;
    padding: 4px 0;
}

.Obj {
    position: absolute;
    bottom: 40px;
    right: 10px;
    border: 1px solid #0d6efd;
    text-align: center;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 15px 15px 0px 0px;
    min-width: 150px;
}

h4.objectToFind {
    padding: 5px 10px;
}


/******************** style dropdown ******************/

.nav-dropdown {
    color: #000000;
}

.nav-dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.nav-dropdown ul li {
    display: inline-block;
}


/* Hide Dropdowns by Default */

.nav-dropdown ul ul {
    display: none;
    position: absolute;
    top: 45px;
    /* the height of the main .nav-dropdown */
}

.nav-dropdown ul ul ul {
    top: 50px;
    /* the height of the main .nav-dropdown */
}


/* Display Dropdowns on Hover */

.nav-dropdown ul li:hover>ul {
    display: inherit;
}


/* Fisrt Tier Dropdown */

.nav-dropdown ul ul li {
    width: 250px;
    float: none;
    display: list-item;
    position: relative;
}


/* Second, Third and more Tiers	*/

.nav-dropdown ul ul ul li {
    position: relative;
    top: -50px;
    left: 250px;
}


/************* style sidebar ************/

.sidebar {
    position: fixed;
    z-index: 9999;
}

.sidebar li {
    display: flex;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}


/* Hide Dropdowns by Default */

.sidebar ul ul {
    display: none;
    /* the height of the main .nav-dropdown */
}

.sidebar ul ul ul {
    top: 50px;
    /* the height of the main .nav-dropdown */
}


/* Display Dropdowns on Hover */

.sidebar ul li:hover>ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 250px;
}

.sidebar ul li:hover>ul ul {
    left: 0;
}


/* Fisrt Tier Dropdown */

.sidebar ul ul li {
    width: 250px;
    float: none;
    display: list-item;
    position: relative;
}


/* Second, Third and more Tiers	*/

.sidebar ul ul ul li {
    position: relative;
    top: -50px;
    left: 250px;
}

@media screen and (max-width:1500px) {
    section[class^='etape'] a {
        font-size: 14px;
        width: 200px;
    }
    .nav-dropdown ul ul li {
        width: 200px;
    }
    .nav-dropdown ul ul ul li {
        left: 200px;
    }
    .sidebar ul ul ul li {
        left: 200px;
    }
    .sidebar ul li:hover>ul {
        left: 200px;
    }
    /* Fisrt Tier Dropdown */
    .sidebar ul ul li {
        width: 200px;
    }
    section[class^='etape'] img {
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width:1200px) {
    section[class^='etape'] a {
        font-size: 12px;
        width: 150px;
    }
    .nav-dropdown ul ul li {
        width: 150px;
    }
    .nav-dropdown ul ul ul li {
        left: 150px;
    }
    .sidebar ul ul ul li {
        left: 150px;
    }
    .sidebar ul li:hover>ul {
        left: 150px;
    }
    /* Fisrt Tier Dropdown */
    .sidebar ul ul li {
        width: 150px;
    }
    section[class^='etape'] img {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width:1100px) {
    section[class^='etape'] a {
        font-size: 11px;
        width: 130px;
    }
    .nav-dropdown ul ul li {
        width: 130px;
    }
    .nav-dropdown ul ul ul li {
        left: 130px;
    }
    .sidebar ul ul ul li {
        left: 130px;
    }
    .sidebar ul li:hover>ul {
        left: 130px;
    }
    /* Fisrt Tier Dropdown */
    .sidebar ul ul li {
        width: 130px;
    }
}